@charset "UTF-8";

$prefix: 'eventcalendar';

@mixin clearfix {
	&:before,
	&:after {
	  display: table;
	  content: " ";
	}
	&:after {
	  clear: both;
	}
	@content;
}

.#{$prefix}-event {
	@include clearfix;
	.#{$prefix}-fields {
		width: 50%;
		float: left;
		> p {
			> label {
				display: table-cell;
				width: 5em;
				&[for="#{$prefix}_geo_address"] {
					vertical-align: top;
				}
			}
			> span {
				display: table-cell;
			}
		}
	}
	.#{$prefix}-map {
		overflow: hidden;
		clear: both;
		height: 15em;
		width: 100%;
		> iframe {
			height: 15em;
			width: 100%;
		}
		&.map-open {
			height: 15em;
		}
		&.map-close {
			height: 0;
		}
	}
}
