#qtip-overlay.blurs { cursor: default; }

.gca-popup { min-width: 50%; max-width: 1170px; width: auto; height: auto; border-radius: 8px; border-radius: 0.5rem; background-color: #F7F7F7; background-image: url("../../images/ajax-loader.gif"); background-repeat: no-repeat; background-size: 24px; background-size: 1.5rem; background-position: center center; }

.gca-popup .qtip-content { padding: 16px; padding: 1rem; }

.gca-popup .qtip-content > iframe { width: 100%; min-height: 48px; min-height: 3rem; border-radius: 8px; border-radius: 0.5rem; border: 0; overflow: auto; }

.gca-popup .qtip-close { color: #0652ae; text-decoration: none; background: #e5edf8; border: 1px solid #0652ae; }

.gca-popup .qtip-close:hover, .gca-popup .qtip-close:active, .gca-popup .qtip-close:focus { color: #0652ae; text-decoration: none; background: #fff; }
